[submodule "cmsis_device_f1"]
	path = vendor/cmsis_device_f1
	url = https://github.com/STMicroelectronics/cmsis_device_f1
[submodule "vendor/CMSIS_6"]
	path = vendor/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
